body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.content-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 50px;
}

.btn-start {
    padding: 15px 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.btn-start:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
        text-align: center;
        word-wrap: break-word;
    }

    .btn-start {
        font-size: 18px;
        width: 100%;
        max-width: 250px;
    }
}